<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
    <link rel="stylesheet" href="form.css">
    <title>Document</title>
</head>
<body>
    <div class="forms">
    <p style="font-size: 26px;">Copay</p>
    <hr/>

   <form>

    <label for="name">MR# <span class="required">*</span></label> <br/>
    <input type="text" id="name" name="name" required> <br/> <br/> 

    <label for="name">Patient Name <span class="required">*</span></label> <br/>
<pre>
<input type="text" id="name" placeholder="First Name" name="name" required> <input type="text" id="name"  placeholder="Last Name" name="name" required> 
</pre>
    <div class="radios">
    <label for="name">Location <span class="required">*</span></label> <br/>     
    <input type="radio" id="Lal-Bangalow" name="fav_language" value="Lal Bangalow">
    <label for="Lal Bangalow">Lal Bangalow</label><br>
    <input type="radio" id="DK-Road" name="fav_language" value="DK Road">
    <label for="DK Road">DK Road</label><br>
    <input type="radio" id="Hasthinapuram" name="fav_language" value="Hasthinapuram">
    <label for="Hasthinapuram">Hasthinapuram</label> <br/> <br/>
    </div>
    
    <label for="name">TotalCopay Amt <span class="required">*</span></label> <br/><br/>
    <input type="text" id="name" name="name" required> <br/> <br/> 

    <label for="name">Recipt 1 </label> <br/><br/> &#8377;
    <input type="text" id="name" name="name" required> <br/> <br/> 

    <label for="name">Recipt 1 Date</label> <br/><br/> 
    <input type="date" id="name" name="name" required> <br/> <br/> 

    <label for="name">Recipt 2 </label> <br/><br/> &#8377;
    <input type="text" id="name" name="name" required> <br/> <br/> 

    <label for="name">Recipt 2 Date</label> <br/><br/> 
    <input type="date" id="name" name="name" required> <br/> <br/> 

    <label for="name">Recipt 3 </label> <br/><br/> &#8377;
    <input type="text" id="name" name="name" required> <br/> <br/> 

    <label for="name">Recipt 3 Date</label> <br/><br/> 
    <input type="date" id="name" name="name" required> <br/> <br/> 

    <label for="name">Recipt 4 </label> <br/><br/> &#8377;
    <input type="text" id="name" name="name" required> <br/> <br/> 

    <label for="name">Recipt 4 Date</label> <br/><br/> 
    <input type="date" id="name" name="name" required> <br/> <br/><br/> 

    <!-- <table > Payment Details
        <thead>
            <th></th>
            <th>Date</th>
            <th>Amount</th>
        </thead>
        <tbody>
            <tr>
                <td>Recipt 1</td>
                <td><input type="text"></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>Recipt 2</td>
                <td><input type="text"></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>Recipt 3</td>
                <td><input type="text"></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>Recipt 4</td>
                <td><input type="text"></td>
                <td><input type="text"></td>
            </tr>

             
        </tbody>
    </table> <br/><br/> -->

    <label for="textarea"> Remarks <br/> <br/> <textarea> </textarea></label> <br/> <br/>
    
    <label for="name">Refund </label> <br/><br/> &#8377;
    <input type="text" id="name" name="name" required> <br/> <br/> 

    <label for="name">Refund Date</label> <br/><br/> 
    <input type="date" id="name" name="name" required> <br/> <br/><br/> 

    
    <span class="btn">
     <button class="review">Review</button>
     <button class="submit">Submit</button>
    </span>
   </form>
</div>
</body>
</html>